.icoContacto{
    font-size: 1em;
    color:black;

    &:hover{
        color:$rojo348;
            
    }

}


.ico{

    font-size: 3em;
    color:$rojo348;

    transition: font-size 1s;

    &:hover{
            
        font-size: 3.5em;

    }

}


.pInfo{
    font-size: larger;
    text-align: center;

    margin-bottom: 2px;
}