@import "variables";

@import "generales";
@import "header";
@import "nav";
@import "iconos";
@import "footers";

/* Comando para compilar: npm run watch-css*/
/*INDEX*/

h1{
    font-family: 'DM Serif Text', serif;
    font-size: 2.5em;
    font-weight: 800;
    color:black;
    text-align: right;
}


.imgIndex{
    width: 95%;
    border-radius: 15px;

    transition: width 1s;

    &:hover{
        width: 100%;
        border-style: solid;
        border-color:#8f2c25;
    }
    
}


.pIndex{
    width: 100%;
    padding-left: 20%;
    font-size: larger;
    text-align: right;
}


/*NOSOTROS*/


.pNosotrosL{
    width: 100%;
    padding-left: 20%;
    font-size: larger;
    text-align: right;
}


.pNosotrosR{
    width: 100%;
    padding-right: 20%;
    font-size: larger;
    text-align: left;
}


.pNosotrosNE{
    width: 80%;
    font-size: larger;
    text-align: left;
}


.pNosotrosC{
    width: 80%;
    font-size: larger;
    text-align: center;
}


.imgNosotros{
    width: 95%;
    border-radius: 15px;
    transition: width 1s;

    &:hover{
        width: 100%;
        border-style: solid;
        border-color:#8f2c25;
    }
    
}



/*SUCURSALES*/


.imgSucursal{
    width: 40%;
    border-radius: 15px;
    transition: width 1s;

    &:hover{
        width: 45%;
        border-style: solid;
        border-color:#8f2c25;
    }
}


.imgSucursalMin{
    width: 20%;
    border-radius: 15px;   
    transition: width 1s;

    &:hover{
        width: 22%;
        border-style: solid;
        border-color:#8f2c25;
    }
            
    }


.pSucursalC{
    width: 80%;
    font-size:x-large;
    text-align: center;
    color:$rojo348;
}


h4{
    font-family: 'DM Serif Text', serif;
    font-size: 1.5em;
    font-weight: 800;
    color:#8f2c25;
    text-align: left;

}


.card-body{
    background-color:#d8d4cb;
}


.btn-danger{

    background-color:$rojo348;
    border-style: none;
}



/*PRODUCTOS*/


.imgProducto{
    width: 80%;
    border-radius: 15px;

    transition: width 1s;

    &:hover{
        width: 85%;
        border-style: solid;
        border-color:#8f2c25;
    }
    
}


/*CONTACTO*/

.pFranquiciasL{
    width: 80%;
    font-size: larger;
    text-align: left;
}




/* BREAK POINT: Dispositivos SMALL--> Cambios para anchos de pantalla menores a 768px */


@media only screen and (min-width: 576px) and (max-width: 768px){

    ul{
        width: 90%;  
    }

    h1{
        text-align: left;
        font-size: 2em;
    }

    .pIndex{
    padding-left: 0%;
        text-align: left;
    }

    .pNosotrosL{
        padding-left: 0%;
        text-align: justify;
    }
    
    .pNosotrosR{
        padding-right: 0%;
        text-align: justify;
    }

    .pNosotrosNE{
        width: 100%;
        text-align: justify;
    }

    .pFranquiciasL{
        width: 100%;
        text-align: justify;
    }

}

/* BREAK POINT: Dispositivos XSMALL --> Cambios para anchos de pantalla menores a 576px */

@media only screen and (max-width: 575px){
    
    nav{
        background-color:#aa2f27;
        padding-top: 0em;
        padding-left: 0px;

        ul{
            list-style-type: none;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;
            
        }
    
    }

    .ulFooterJr{
        width: 90%;
    }

    h1{
        text-align: center;
        font-size: 2em; 
    }

    .pIndex{
        padding-left: 0%;
        text-align: left;
    }

    .pNosotrosL{
        padding-left: 0%;
        text-align: justify;
    }
    
    .pNosotrosR{
        padding-right: 0%;
        text-align: justify;
    }

    .pNosotrosNE{
        width: 100%;
        text-align: justify;
    }

    .pFranquiciasL{
        width: 100%;
        text-align: justify;
    }


}



/*MAPAS*/

$contactos:(
    facebook: #3a5795,
    instagram: #E1306C,
    whatsapp: #25D366,
);

@each $app, $color in $contactos{
    .btn--#{$app}{
        background-color: $color;
        font-size: 0.75em;
        color: white;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border-style: none;
        border-radius: 5px;
    }
    
};

/*MAP-GET*/

$estilo: (
    fondo: rgba(143, 143, 136, 0.226),
    alineado: center,
    tamFuente: 1em,
    pad: 0.5em,

);

.TitExtra{

    background-color: map-get($estilo, fondo);
    text-align: map-get($estilo, alineado);
    font-size: map-get($estilo, tamFuente);
    padding: map-get($estilo, pad);

}

/*EXTEND*/


.frase{
    background-color: #aa302742;
    color:#8f2c25;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    align-self: center;
}

.frase--2{
    @extend .frase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.75em;

}

.frase--3{
    @extend .frase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    
}

.frase--4{
    @extend .frase--3;
    border: 3px solid goldenrod;
    font-style: oblique;

}


/*MIXIN*/

@mixin dimensiones ($width, $height){
    height: $height;
    width: $width;
}

@mixin colores ($colorF, $colorL){
    background-color: $colorF;
    color: $colorL;
    
}


.mixin348{
    @include dimensiones (120px, 30px);
    @include colores (#8f2c25, #d8d4cb);
    font-family: 'DM Serif Text', serif;
    text-align: center;
    border-radius: 5px;
    

}

.mixinFranquicia{
    @include dimensiones (200px, 30px);
    @include colores (#aa2f27, #ffffff); 
    font-family: 'DM Serif Text', serif;
    text-align: center;
    border-radius: 5px;

}

.mixinLegales{
    @include dimensiones (100px, 30px);
    @include colores (#b33f36, #dacc4f);
    font-family: 'DM Serif Text', serif;
    text-align: center;
    border-radius: 5px;
    

}